body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f5f5f5;
}

h1 {
    color: #226177;
    font-weight: bold;
}

.btn-primary {
    min-width: 50%;
    border-radius: 50px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow-y: auto;
}

#divFlightDetails {
    height: 400px;
}
.my-custom-scrollbar thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }

.table-wrapper-scroll-y {
    display: block;
}